<ng-container class="table-content" *ngIf="data">
  <!-- TODO handler when dada is empty in coherent way with matTableDataSource -->
  <div class="table-content__table-container">
    <mat-table matSort [dataSource]="data">
      <ng-container
        *ngFor="let column of tableColumns"
        [matColumnDef]="column.columnDef"
      >
        <mat-header-cell  *matHeaderCellDef mat-sort-header>
          {{ column.header }}
        </mat-header-cell>
        <mat-cell  *matCellDef="let element">
          <ng-container
            *ngIf="
              column.columnDef | tableColumn : OverrideTableColumnsDirs;
              else defaultColumn;
              let overrideTableColumn
            "
            [ngTemplateOutlet]="overrideTableColumn.templateRef"
            [ngTemplateOutletContext]="{
              $implicit: element,
              columnDef: column.columnDef
            }"
          >
          </ng-container>
          <ng-template #defaultColumn>
            {{ element[column.columnDef] }}
          </ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="columnDefs"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columnDefs"
        [ngClass]="{ disabled: row.disabled }"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      [hidePageSize]="true"
      showFirstLastButtons
      aria-label="Select page of periodic dataSource "
    >
    </mat-paginator>
  </div>
</ng-container>
