:host {
    --table-first-column-width: 30px;
    --table-last-column-width: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    .companies-table {
        &__query-form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
            grid-column-gap: 10px;
            &__submit-button {
                grid-column: 3;
                grid-row: 1;
            }
        }
    }
}