<app-tab-group class="general-infos" [tabGroup]="tabGroup">
    <ng-template appStaticTabsContent>
        <div class="general-infos__static-tabs__first-tab-content">
            <app-companies (company)="displayCompanyInfosInTabs($event)">
            </app-companies>
        </div>
    </ng-template>
    <ng-template appStaticTabsContent>
        <div class="general-infos__static-tabs__second-tab-content">
            <app-roles (onEdit)="displayEditRolesInTab($event)" (onConfigure)="displayConfigureRolesInTab($event)" (onNotice)="displayNoticeRolesInTab($event)">
            </app-roles>
        </div>
    </ng-template>
    <ng-template #dynamicTabsContent let-infos>
        <div class="general-infos__dynamic-tabs">
            <app-informations [infos]=" infos ">
            </app-informations>
        </div>
    </ng-template>
</app-tab-group>

<form [formGroup]="uploadFilesForm" class="general-infos__upload-files-form">

    <app-upload-files [filesReaderParams]="filesReaderParams">
    </app-upload-files>

    <button mat-raised-button (click)="uploadFiles()" color="primary"> Upload files </button>
</form>