@import '~@angular/material/theming';
:host {
    .navbar {
        display: flex;
        justify-content: flex-start;
        &__tree-links {
            &__leaf-node {
                &__element {
                    &__link {
                        width: 100%;
                        text-align: start;
                    }
                }
            }
            &__recursion-node {
                &__element {
                    &__link {
                        width: 100%;
                        text-align: start;
                    }
                }
                &__children {}
                &__children-invisible {
                    display: none;
                }
            }
        }
    }
    @media(min-width:700px) {
        .navbar {
            height: 100%;
            flex-direction: column;
        }
    }
}