table {
  width: 100%;
  th:first-of-type,
  td:first-of-type {
    width: 15%;
  }

  th:last-of-type,
  td:last-of-type {
    width: 15%;
  }
  .mat-row.disabled {
    background-color: rgba(239, 239, 239, 0.3);
  }

  .mat-row.disabled > .mat-cell {
    color: rgba(0, 0, 0, 0.38);
  }
}
