<section class="table-content" *ngIf="data">
    <!-- TODO handler when dada is empty in coherent way with matTableDataSource -->
    <div class="table-content__table-container">
      <table mat-table matSort class="mat-elevation-z8" [dataSource]="data">
        <ng-container
          *ngFor="let column of tableColumns"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.header }}
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="
                column.columnDef | tableColumn : OverrideTableColumnsDirs;
                else defaultColumn;
                let overrideTableColumn
              "
              [ngTemplateOutlet]="overrideTableColumn.templateRef"
              [ngTemplateOutletContext]="{
                $implicit: element,
                columnDef: column.columnDef
              }"
            >
            </ng-container>
            <ng-template #defaultColumn>
              {{ element[column.columnDef] }}
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnDefs"
          [ngClass]="{ disabled: row.disabled }"
        ></tr>
      </table>
      <mat-paginator
        class="mat-elevation-z8"
        [pageSizeOptions]="[10, 20, 50]"
        [hidePageSize]="true"
        showFirstLastButtons
        aria-label="Select page of periodic dataSource "
      >
      </mat-paginator>
    </div>
  </section>
  