:host {
    display: block;
    .upload-files {
        &__files-container {
            list-style: none;
            padding-inline-start: calc(var(--main-padding) + 16px);
            min-height: 50px;
        }
    }
}

.draggedOver{
    opacity: 0.5;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
}